.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    opacity: .7;

}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-body {
        margin: auto;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        width: 600px;
        padding: 20px;

        .creditor-form {
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 5px 10px;
            margin-bottom: 10px;
            
            div {
                display: flex;
                
                input {
                    flex: 1;
                }
            }
        }

        .footer {
            display: flex;
            gap: 10px;
        }
    }
}